<html lang='en-GB'>
  <head>
    <meta charset='utf-8' />
    <title>Task Tracker | Ayoub Gutin</title>
  <link rel='preconnect' href='https://fonts.googleapis.com'>
  <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
  <link href='https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap' rel='stylesheet'>
  <link rel='stylesheet' href='{{ url_for('static', filename='css/styles.css') }}'/> 
  </head>

  <body>

    <!-- Navigation Bar-->
    <nav>
      <ul>
        <li><a href='{{ url_for('index') }}'>home.</a></li>
        <li><a href='#'>graph.</a></li>
        <li class='active'><a href='{{ url_for('calendar_page') }}'>calendar.</a></li>
      </ul>
    </nav>

    <main>
      <div class = 'main-header'>
        <h1 class='app-logo'>synapse.</h1>
        <div class='profile-avatar'></div>
      </div>

      <div class='calendar-container'>
          <div class='calendar-header'>
              <h2>Calendar: June 2025</h2>
              <button class='dropdown'>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg>
              </button>
              <button class='back-arrow'>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-left-icon lucide-arrow-left"><path d="m12 19-7-7 7-7"/><path d="M19 12H5"/></svg>
              </button>
              <button class='forward-arrow'>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right-icon lucide-arrow-right"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>
              </button>

          </div>
          <div class='calendar-grid'>
              <!--Day Name -->
              <div class='day-name'>Sun</div>
              <div class='day-name'>Mon</div>
              <div class='day-name'>Tue</div>
              <div class='day-name'>Wed</div>
              <div class='day-name'>Thur</div>
              <div class='day-name'>Fri</div>
              <div class='day-name'>Sat</div>

              <!-- Dates-->
              <div class='date-cell'><span class='date-number'>1</span></div>
              <div class='date-cell'><span class='date-number'>2</span></div>
              <div class='date-cell'><span class='date-number'>3</span></div>
              <div class='date-cell'><span class='date-number'>4</span></div>
              <div class='date-cell'><span class='date-number'>5</span></div>
              <div class='date-cell'><span class='date-number'>6</span></div>
              <div class='date-cell'><span class='date-number'>7</span></div>
              <div class='date-cell'><span class='date-number'>8</span></div>
              <div class='date-cell'><span class='date-number'>9</span></div>
              <div class='date-cell'><span class='date-number'>10</span></div>
              <div class='date-cell'><span class='date-number'>11</span></div>
              <div class='date-cell'><span class='date-number'>12</span></div>
              <div class='date-cell'><span class='date-number'>13</span></div>
              <div class='date-cell'><span class='date-number'>14</span></div>
              <div class='date-cell current-day'>
                <span class='date-number'>15</span>
                <div class='calendar-task'>
                  <div class='task-details'>
                    <span class='task-time'>9:00 AM</span>
                    <span class='task-title'>Task 1</span>
                  </div>
                </div>
                <div class='calendar-task'>
                  <div class='task-details'>
                    <span class='task-time'>2:00 PM</span>
                    <span class='task-title'>Task 2</span>
                  </div>
                </div>
              </div>
              <div class='date-cell'><span class='date-number'>16</span></div>
              <div class='date-cell'><span class='date-number'>17</span></div>
              <div class='date-cell'><span class='date-number'>18</span></div>
              <div class='date-cell'><span class='date-number'>19</span></div>
              <div class='date-cell'><span class='date-number'>20</span></div>
              <div class='date-cell'><span class='date-number'>21</span></div>
              <div class='date-cell'><span class='date-number'>22</span></div>
              <div class='date-cell'><span class='date-number'>23</span></div>
              <div class='date-cell'><span class='date-number'>24</span></div>
              <div class='date-cell'><span class='date-number'>25</span></div>
              <div class='date-cell'><span class='date-number'>26</span></div>
              <div class='date-cell'><span class='date-number'>27</span></div>
              <div class='date-cell'><span class='date-number'>28</span></div>
              <div class='date-cell'><span class='date-number'>29</span></div>
              <div class='date-cell'><span class='date-number'>30</span></div>
              <div class='date-cell'><span class='date-number'>31</span></div>
              <div class='date-cell'><span class='date-number'>32</span></div>
              <div class='date-cell'><span class='date-number'>33</span></div>
              <div class='date-cell'><span class='date-number'>34</span></div>
              <div class='date-cell'><span class='date-number'>35</span></div>
          </div>
      </div>

    </main>


    <a href='{{ url_for('add_new_task_page') }}' id='fab-add-task' class='fab' title='Add New Task'>+</a>
    <!-- Footer -->
    <footer>
      <p>
        &copy; 2025 Ayoub Gutin |
        <a href='https://github.com/yourusername/task-tracker'
          >GitHub Repository</a
        />
      </p>
    </footer>
  </body>

  <script src='../static/js/scripts.js'>

</html>